{% extends "base.html" %}
{% load static %}


{% block extra_css %}
 <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">My Profile</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">
                My Default Delivery Information
            </p>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">
                Order History
            </p>
            {{ orders }}
        </div>
    </div>
</div>

{% endblock %}