{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}

<div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">Checkout</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted">Order Summary:</p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 small text-muted">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 small text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in bag_items %}
                <div class="row">
                    <div class="col-2 mb-1">
                        <a href="{% url 'product_detail' item.product.id %}">
                            {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="w-100">
                            {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="w-100">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-7">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="my-0 small text-muted">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
            <hr class="my-0">
            <div class="row text-right">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0">${{ total | floatformat:2 }}</p>
                    <p class="my-0">${{ delivery | floatformat:2 }}</p>
                    <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <p class="text-muted">Fill out the form to complete the order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                <fieldset>
                    <legend class="fieldset-label small">Shipping Details</legend>
                    {% csrf_token %}
                    {{ order_form | crispy }}
                    <div class="form-check form-check-inline float-right">
                        {% if user.is_authenticated %}
                        <label for="id-save-info" class="form-check-label">Save this information to my profile</label>
                        <input type="checkbox" class="form-check-input" id="id-save-info" name="save-info" checked>
                        {% else %}
                        <label for="id-save-info" class="form-check-label">
                            <a href="{% url 'account_signup' %}" class="text-info">Create an account</a> or
                            <a href="{% url 'account_login' %}" class="text-info">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label small">Payment</legend>
                    <!-- Stripe card element -->
                    <div id="card-element"></div>

                    <!-- To display form errors -->
                    <div id="card-errors" class="text-danger" role="alert"></div>
                </fieldset>

                <div class="submit-button text-right mt-5 mb 2">
                    <a href="{% url 'view_shopping_bag' %}" class="btn btn-secondary">
                        <span class="icon">
                            <i class="fas fa chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button class="btn btn-primary">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}