{% extends "base.html" %}
{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <h2>Thank You!</h2>
            <hr>
            <p>Your order information. An email will be sent to <strong>{{ order.email }}</strong> with your confirmation.</p>
        </div>
    </div>
</div>
    
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-7 col-lg-6 col-xl-4">
            <div class="card p-2">
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="fw-bold">Order Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p>{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="fw-bold">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p>{{ order.date }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Details::</small>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small fw-bold">{{ item.product.name }}</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="small">{{ item.quantity }} pcs (${{ item.product.price }} per piece)</p>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Delivery Address:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="fw-bold">Name:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p>{{ order.full_name}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="fw-bold">Address:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                            <p>{{ order.street_address1 }}</p>
                        {% if order.street_adress2 %}
                            <p>{{ order.street_address2 }}</p>
                        {% endif %}
                        {% if order.postcode %}
                            <p>{{ order.postcode }}</p>
                        {% endif %}
                            <p>{{ order.town_or_city }}</p>
                        {% if order.county %}
                            <p>{{ order.county }}</p>
                        {% endif %}
                            <p>{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="fw-bold">Phone Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p>{{ order.phone_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="fw-bold">Email:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p>{{ order.email }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="fw-bold">Order Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p>${{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="fw-bold">Delivery Costs:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p>${{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="fw-bold">Grand Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p>${{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-3">
            {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn btn-primary">
                    Back To My Profile
                </a>
            {% else %}
                <a href="{% url 'products' %}" class="btn btn-primary">
                    Back To Shop
                </a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
