{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row pt-4 mb-3">
        <div class="col text-center">
            <h1>Why Smart Locks?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="{{ MEDIA_URL }}SetBridge_Adapter.jpg" alt="A set with smart locks" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <h5>Convenient</h5>
            <p>Open your door without effort. You only need your phone. 
                If your phone is dead, you can always use your mechanical key.</p>
            <h5>Secure</h5>
            <p>Multi level ecryption ensures that your lock is safe. 
                The only ones with access to your door is who you decide. 
                If someones opens the door, you get an notification and you can see who it is.</p>
            <h5>Easy To Use</h5>
            <p>Share keys, temporarliy or permanenttly is easy. Just send an invitation to the user.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6">
            <h5>Have a business?</h5>
            <p>Tedee Smart Locks works well even in small business. In the dashboard you can manage who haves access and where.</p>
            <p>Want now more about out business solution? Send us a <a href="{% url 'contact' %}">message</a>.</p>
        </div>
        <div class="col-12 col-md-6">
            <img src="{{ MEDIA_URL }}tedee_lifestyle_b2b.jpg" alt="A business man opens a door" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-primary" href="{% url 'products' %}">Buy Now</a>
            <a class="btn btn-secondary" href="{% url 'contact' %}">Have Questions? Contact us!</a>
        </div>
    </div>
</div>
{% endblock %}