{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10 mx-auto">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">Thank You!</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card mx-auto col-12 col-md-4">
            <div class="card-body">
              <h5 class="card-title">Thank you for your message!</h5>
              <p class="card-text">We will get back to you as soon as we can. But please allow up to 24h for a response.</p>
              <a class="btn btn-primary" href="{% url 'home' %}">Back To Home</a>
            </div>
          </div>
    </div>
</div>

{% endblock %}