{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Products</h2>
                <hr class="w-100 mb-1">

                    {% for c in current_categories %}   
                        <p>{{ c.friendly_name }}</p>
                    {% endfor %}

                <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link link-secondary" href="{% url 'products' %}?sort=category&direction=asc">Sort By Category</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-secondary" href="{% url 'products' %}?sort=price&direction=asc">Sort By Price</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-secondary" href="{% url 'products' %}?sort=name&direction=asc">Sort By Name</a>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- From Boutique Ado walkthrough -->
                <p class="text-muted mt-3 text-center">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a class="link-secondary" href="{% url 'products' %}">All Products</a> | </span>
                    {% endif %}
                    {{ page_obj|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
            <div class="product-container col-sm-12 col-md-10 mx-auto">
                    <div class="row">
                        {% for product in page_obj %}
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="card h-100 border-1 mb-2 mt-2">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="#" alt="{{ product.name }}" class="card-img-top img-fluid">
                                        </a>
                                    {% endif %}
                                        <div class="card-body">
                                            <p class="mb-0">{{ product.name }}</p>
                                        </div>
                                        <div class="card-footer text-left">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="fs-4 mb-0 text-left fw-bold">$ {{ product.price }}</p>
                                                    {% if product.category %}
                                                    <p class="small text-right">
                                                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                                                            {{ product.category.friendly_name }}
                                                        </a>
                                                    </p>
                                                    {% endif %}
                                                    {% if request.user.is_superuser %}
                                                        <small class="mx-3">
                                                            <a href="{% url 'edit_product' product.id %}">Edit</a>
                                                            <a class="text-danger ms-2" href="{% url 'delete_product' product.id %}">Delete</a>
                                                        </small>
                                                    {% endif %}
                                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-secondary">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}