{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Products</h2>
                <hr class="w-100 mb-1">

                    {% for c in current_categories %}   
                        <p>{{ c.friendly_name }}</p>
                    {% endfor %}

                <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products' %}?sort=category&direction=asc">Sort By Category</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products' %}?sort=price&direction=asc">Sort By Price</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products' %}?sort=name&direction=asc">Sort By Name</a>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- From Boutique Ado walkthrough -->
                <p class="text-muted mt-3 text-center">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
            <div class="product-container col-sm-12 col-md-10 mx-auto">
                <div class="row mx-auto">
                    <div class="row mx-auto">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-2 mx-auto">
                                <div class="card h-100 mx-auto border-1 mb-2 mt-2">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="#" alt="{{ product.name }}" class="card-img-top img-fluid">
                                        </a>
                                    {% endif %}
                                        <div class="card-body">
                                            <p class="mb-0">{{ product.name }}</p>
                                        </div>
                                        <div class="card-footer text-left">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="fs-4 mb-0 text-left fw-bold">$ {{ product.price }}</p>
                                                    {% if product.category %}
                                                    <p class="small text-right">
                                                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                                                            {{ product.category.friendly_name }}
                                                        </a>
                                                    </p>
                                                    {% endif %}
                                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-secondary">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}