{% extends 'base.html' %}

{% block content %}
<div class="row pt-5 vh-100">
    <div class="col-12 col-md-6 mx-auto">
        <h3>Stock Levels</h3>
        <div class="card py-3 px-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>SKU</th>
                        <th>Stock Level</th>
                        <th>Update Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock_level in stock_levels %}
                    <tr>
                        <td>{{ stock_level.name }}</td>
                        <td>{{ stock_level.sku }}</td>
                        {% if stock_level.quantity > 5 %}
                        <td class="fw-bold">{{ stock_level.quantity }} <i class="fa fa-circle text-success"></i></td>
                        {% elif stock_level.quantity <= 0 %}
                        <td class="fw-bold">{{ stock_level.quantity }} <i class="fa fa-circle text-danger"></i></td>
                        {% else %}
                        <td class="fw-bold">{{ stock_level.quantity }} <i class="fa fa-circle text-warning"></i></td>
                        {% endif %}
                        <td><a class="btn btn-primary"
                            href="{% url 'update_stock' stock_level.id %}">Update Stock</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}